# Lists

In [72]:
courses = ['History', 'Math', 'Physics', 'CompSci']
print(courses)

['History', 'Math', 'Physics', 'CompSci']

In [73]:
print(len(courses))

4

In [74]:
print(courses[0])

History

In [75]:
print(courses[3])

CompSci

In [76]:
print(courses[-1])

CompSci

## Lists slicing

In [77]:
print(courses[0:2])

['History', 'Math']

In [78]:
print(courses[:3])

['History', 'Math', 'Physics']

In [79]:
print(courses[2:])

['Physics', 'CompSci']

## Lists methods

In [80]:
courses.append('Arts') # Append method 
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Arts']

In [81]:
courses.insert(0,"Geo") # insert method
print(courses)

['Geo', 'History', 'Math', 'Physics', 'CompSci', 'Arts']

In [82]:
courses_2 = ['Enviroment', 'Education']
courses.insert(0,courses_2)  # insert method
print(courses)

[['Enviroment', 'Education'], 'Geo', 'History', 'Math', 'Physics', 'CompSci', 'Arts']

In [83]:
courses.remove('Math') # remove method

In [84]:
print(courses)

[['Enviroment', 'Education'], 'Geo', 'History', 'Physics', 'CompSci', 'Arts']

In [85]:
courses.pop() # Pop method
print(courses)

[['Enviroment', 'Education'], 'Geo', 'History', 'Physics', 'CompSci']

In [86]:
courses.reverse() # Reverse method
print(courses)

['CompSci', 'Physics', 'History', 'Geo', ['Enviroment', 'Education']]

In [31]:
num_1 = [1,5,2,6,10,7,8,3]   # Sort method
num_1.sort()

In [32]:
print(num_1)

[1, 2, 3, 5, 6, 7, 8, 10]

In [33]:
num_1.sort(reverse = True) 
print(num_1)

[10, 8, 7, 6, 5, 3, 2, 1]

In [35]:
print(min(num_1)) # Minimum of the values

1

In [36]:
print(max(num_1)) # Maximum of the values

10

In [37]:
print(sum(num_1)) # Sum of the values

42

In [38]:
print(courses.index('Geo')) # Index method

2

In [39]:
print('Math' in courses)

True

In [91]:
for item in courses:
    print(item)

CompSci
Physics
History
Geo
['Enviroment', 'Education']

# Tuples

In [93]:
# Immutable
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

In [94]:
print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

In [97]:
tuple_1[0] = 'Art' # we cannot add new item to tuple it causes error
print(tuple_1)
print(tuple_2)

TypeError: 'tuple' object does not support item assignment

# SET

## operation on sets

In [1]:
# Intersection 
{1,2,3,4,5}.intersection({3,4,5,6})

{3, 4, 5}

In [2]:
{1,2,3,4,5}&{3,4,5,6}

{3, 4, 5}

In [4]:
#Union
{1,2,3,4,5}.union({3,4,5,6})

{1, 2, 3, 4, 5, 6}

In [6]:
{1,2,3,4,5}|{3,4,5,6}

{1, 2, 3, 4, 5, 6}

In [8]:
#Difference
{1,2,3,4}.difference({2,3,5})

{1, 4}

In [10]:
{1,2,3,4}-{2,3,5}

{1, 4}

In [15]:
#Symmetric difference with
{1,2,3,4}.symmetric_difference({2,3,5})

{1, 4, 5}

In [16]:
{1,2,3,4}^{2,3,5}

{1, 4, 5}

In [18]:
#Superset check 
{1,2}.issuperset({1,2,3})

False

In [20]:
{1,2}>={1,2,3}

False

In [22]:
#Subset check
{1,2}<={1,2,3}

True

In [24]:
{1,2}.issubset({1,2,3})

True

In [26]:
#Disjoint check
{1,2}.isdisjoint({3,4})

True

In [28]:
{1,2}.isdisjoint({1,4})

False

In [33]:
# Existence check
2 in {1,2,3}

True

In [35]:
4 in {1,2,3}

False

In [37]:
4 not in {1,2,3}

True

In [45]:
# Add and Remove
A = {1,2,3}
A.add(4)
A

{1, 2, 3, 4}

In [48]:
A.discard(3)
A

{1, 2, 4}

## Set Operations using Methods and Builtins

In [56]:
a = {1,2,3,3,4,4,4,5,6,7}
b = {2,3,4,5,6,7}

In [58]:
#Intersection
a.intersection(b)

{2, 3, 4, 5, 6, 7}

In [60]:
#Union
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [62]:
#Difference 
a.difference(b)

{1}

In [64]:
#Symmetric Difference
a.symmetric_difference(b)

{1}

In [66]:
# Subset and superset
c = {1,2}
c.issubset(a)

True

In [69]:
a.issuperset(c)

True