# Creating variables

To create a variable in python, all you need to do is specify
the variable name, and then assign a value to it.
Python uses = to assign values to variables.

In [3]:
# Integer
amit = 383
print(amit)

383

In [5]:
# Floating point 
pi = 3.14
print(pi)

3.14

In [7]:
# String
A = 'hello, snehal gajjar. How are you?'
print(A)

hello, snehal gajjar. How are you?

In [9]:
# Boolean 
B = True
print(B)

True

Rules for variablel naming: 

1. varialbes names must start with a letter or an underscore.

In [10]:
a = True # this are valid
_b = True # this are also valid

In [12]:
3a = False # starts with numeral, this cause the sytaxerror.

SyntaxError: invalid syntax (<ipython-input-12-1479e530e407>, line 1)

In [14]:
$e = False # starts with symbol also cause the sytaxerror.

SyntaxError: invalid syntax (<ipython-input-14-d171cf2343ba>, line 1)

2. The remainder of your variable name may consist of letters, 
numbers and underscores.

In [16]:
amit_0_zala = 'hello world'

3. Names are case sensitive.

In [18]:
c = 9
b = C*5

NameError: name 'C' is not defined

Python interpreter automatically picks the most suitable built
-in type for it:

In [20]:
amit = 39 
print(type(amit))

<class 'int'>

In [22]:
pi = 3.14
print(type(pi))

<class 'float'>

In [28]:
name = 'hello Krishna!'
print(type(name))

<class 'str'>

In [30]:
w = False 
print(type(w))

<class 'bool'>

In [32]:
n = None 
print(type(n))

<class 'NoneType'>

You can assign multiple values to multiple variables in one 
line. Note that there must be the same number of arguments on 
the right and left sides of the = operator:

In [33]:
a, b, c = 1, 2, 3 
print(a, b, c)

1 2 3

In [36]:
a, b, c = 1, 2 
print(a, b, c)

ValueError: not enough values to unpack (expected 3, got 2)

You can also assign a single value to several variables 
simultaneously.

In [38]:
a = b =c = 1
print(a, b, c)

1 1 1

# Block Indentation

Python uses indentation to define control and loop constructs. This contributes to Python's readability, however, it
requires the programmer to pay close attention to the use of whitespace. Thus, editor miscalibration could result in
code that behaves in unexpected ways.

Python uses the colon symbol (:) and indentation for showing where blocks of code begin and end. That is, blocks in
Python, such as functions, loops, if clauses and other constructs, have no ending identifiers. All blocks start with a
colon and then contain the indented lines below it.

For example:

In [41]:
def function():         # This is a function definition. Note the colon (:)
    a = 2               # This line belongs to the function vecause it's indented
    return a            # This line also belongs to the same function.
print(function())       # This line is OUTSIDE the function block.

2

In [42]:
if a > b:               # If block starts here.
    print(a)            # This is part of the if block.
else:                   # else must ve at the same leavel as if
    print(b)            # This line is part of the else block.

1

Blocks that contain exactly one single-line statement may be put on the same line, though this form is generally not
considered good style:

In [44]:
if a > b: print(a)
else: print(b)

1

Attempting to do this with more than a single statement will not work:

if x > y: y = x 
    print(y) # Indentation Error: unexpected indent
    
if x > y: while y  != z: y -= 1 # SyntaxError: invalid syntax

An empty block causes an IndentationError. Use pass (a command that does nothing) when you have a block with
no content:

In [48]:
def will_be_implemented_later():
    pass

# Collection Types

Lists

The list type is probably the most commonly used collection type in Python. Despite its name, a list is more like an
array in other languages, mostly JavaScript. In Python, a list is merely an ordered collection of valid Python values. A
list can be created by enclosing values, separated by commas, in square brackets:

In [49]:
int_list = [1, 2, 3]
string_list = ['amit', 'renuka']

In [50]:
# A list can be empty
empty_list = []

In [52]:
amit_list = [ 1, 'amit', True, 2.34, None] # The elements of the list are not restricted to a single data type.

In [53]:
nested_list = [['a', 'b', 'c'], [1,2,3]]

The elements of a list can be accessed via an index, or numeric representation of their position. Lists in Python are
zero-indexed meaning that the first element in the list is at index 0, the second element is at index 2 and so on:

In [3]:
names = ['Amit', 'zala', 'Bharat', 'Renuka']
print(names[0])  
print(names[2])

Amit
Bharat

Indices can also be negative which means counting from the end of the list (-1 being the index of the last element).
So, using the list from the above example:

In [4]:
print(names[-1]) 
print(names[-4])

Renuka
Amit

Lists are mutable, so you can change the values in a list:

In [5]:
names[0] = 'ann'
print(names)

['ann', 'zala', 'Bharat', 'Renuka']

Besides, it is possible to add and/or remove elements from a list:

Append object to end of list with L.append(object), returns None.

In [9]:
names = ['Alice', 'bob', 'Craig', 'diana', 'Eric']
names.append('Sia')
print(names)

['Alice', 'bob', 'Craig', 'diana', 'Eric', 'Sia']

Add a new element to list at a specific index L. insert(index,object)

In [12]:
names.insert(1, 'nikki')
print(names)

['Alice', 'nikki', 'nikki', 'bob', 'Craig', 'diana', 'Eric', 'Sia']

Remove the first occurrence of a value with L.remove(value), returns None.

names.remove('bob')
print(names)

Get the index in the list of the first item whose value is x. It will show an error if there is no such item.

In [20]:
names.index("Alice")

0

In [22]:
len(names)

7

In [25]:
a = [1,1,1,2,3,4]
a.count(1)

3

Remove and return item at index(defaults to the last item)with L.pop([index]),returns the item

In [30]:
names.pop()

'Eric'

# Tuples

A tuple is similar to a list except that it is fixed-length and immutable. So the values in the tuple cannot be changed
nor the values be added to or removed from the tuple. Tuples are commonly used for small collections of values
that will not need to change, such as an IP address and port. Tuples are represented with parentheses instead of
square brackets:

In [32]:
ip_address = ('10.20.30.40', 8080)

A tuple with only one member must be defined (note the comma) this way:

In [35]:
one_member_tuple = ('Only member',)

# Dictonaries

A dictionary in Python is a collection of key-value pairs. The dictionary is surrounded by curly braces. Each pair is
separated by a comma and the key and value are separated by a colon. Here is an example:

In [37]:
state_capitals = {'Arkansas': 'Little Rock',
                  "Colorado" : "Denver",
                  'California': 'Sacramento',
                  "Georgia": 'Atlanta'
                 }

To get a value, refer to it by its key:

In [39]:
ca_capital = state_capitals['California']

You can also get all of the keys in a dictionary and then iterate over them:

In [42]:
for k in state_capitals.keys():
    print('{} is capital of {}'.format(state_capitals[k], k))

Little Rock is capital of Arkansas
Denver is capital of Colorado
Sacramento is capital of California
Atlanta is capital of Georgia

Dictionaries strongly resemble JSON syntax. The native json module in the Python standard library can be used to
convert between JSON and dictionaries.

# Set

A set is a collection of elements with no repeats and without insertion order but sorted order. They are used in
situations where it is only important that some things are grouped together, and not what order they were
included. For large groups of data, it is much faster to check whether or not an element is in a set than it is to do
the same for a list.

Defining a set is very similar to defining a dictionary:

In [46]:
first_names = {'Amit', 'Renuka', 'Bharat'}

or you can build a set using an existing list:

In [49]:
my_list = [1,2,3]
my_set = set(my_list)